
<h1>Que es el Frontend</h1>

<img src="/assets/img_front/Que-es-frontend.webp" alt="logo_fronted" style="float:left">

<p>El frontend es la parte del desarrollo web que se dedica a la parte frontal de un sitio web, en pocas palabras del diseño de un sitio web, desde la estructura del sitio hasta los estilos como colores, fondos, tamaños hasta llegar a las animaciones y efectos.</p>
<p>Es esa parte de la página con la que interaccionan los usuarios de la misma, es todo el código que se ejecuta en el navegador de un usuario, al que se le denomina una aplicación cliente, es decir, todo lo que el visitante ve y experimenta de forma directa.</p>
<p>Un front-end, es la persona que se dedica básicamente al diseño web, pero esto no significa que no toque código, tanto el front-end como el back-end están en contacto con código todo el tiempo.</p>
<p>Dentro del área de front-end se trabaja con lenguajes mayormente del lado del cliente, como:</p>
<p>HTML (lenguaje de marcado de hipertexto, se utilizan etiquetas que estructuran y organizan el contenido de la web).</p>
<p>CSS (se encarga del formato y diseño visual de las páginas web escritas en html) para darle estructura y estilo al sitio.</p>
<p>Javascript (un lenguaje de programación, rápido y seguro para programar centros de datos, consolas, teléfonos móviles o Internet) para complementar los anteriores y darle dinamismo a los sitios web.</p>
<p>HTML y CSS son lenguajes de marcado y estilo. Javascript es un lenguaje de programación.</p>

<div style="text-align: center;">
    <button class="btn btn-primary" (click)="volverInicio()">Volver a Inicio</button>
</div>

