
h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 80px;
    color:#e5e4da;
}

p {
    margin: 1rem;
    text-align: left;
    font-size: x-large;
}

img {  
    margin: 1cm;    
    max-width: 20%;
    max-height: 20%;
}

