<div>
    <img src="/assets/img_front/img_angular/Ang logo_angular.png" alt="logo_js" style="float:left">

    <p>Angular es una plataforma de desarrollo, construida sobre TypeScript. Es un framework basado en componentes para crear aplicaciones web escalables. Una colección de bibliotecas bien integradas que cubren una amplia variedad de características, que incluyen enrutamiento, administración de formularios, comunicación cliente-servidor y más. Un conjunto de herramientas para desarrolladores que permiten desarrollar, compilar, probar y actualizar el código fuente de la aplicación.</p>
    <p>Con Angular, estás aprovechando una plataforma que puede escalar desde proyectos de un solo desarrollador hasta aplicaciones de nivel empresarial. Angular está diseñado para que la actualización sea lo más sencilla posible, y así aprovechar los últimos desarrollos con un mínimo de esfuerzo.</p>
    <p>Angular es un Framework de JavaScript de código abierto escrito en TypeScript. Su objetivo principal es desarrollar aplicaciones de una sola página. Google se encarga del mantenimiento y constantes actualizaciones de mejoras para este framework.</p>
    <p>En concreto, en el desarrollo de software, un framework es una estructura de soporte conceptual y tecnológica definida, generalmente, con artefactos o módulos de software específicos, que pueden servir como base para la organización y desarrollo de software.</p>
    <p>Es decir, un framework es una especie de plantilla, esquema o estructura conceptual basada en tecnología que permite trabajar de una forma mucho más sencilla. De esta forma, se evitan posibles errores de programación.</p>

    <img src="/assets//img_front/img_angular/Ang angular cuerpo.png" alt="body">
    <img src="/assets//img_front/img_angular/Ang intro.jpg" alt="intro">
    <img src="/assets//img_front/img_angular/Ang ventajas.jpg" alt="ventajas">
</div>

<h6>A continuación te dejamos los videos para que puedas aprender Angular :</h6><br>

<div style="margin-left:20px; padding-bottom: 50px; float: left;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLU8oAlHdN5BnNAe8zXnuBNzKID39DUwcO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="margin-left:20px; padding-bottom: 50px; float: left">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TKb2cTKCEso" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

