<div>
    <img src="/assets/img_back/img_git" alt="logo" style="float: left">

    <p></p>
    <p></p>
    <p></p>
    <p></p>

</div>

<img src="/assets/img_back/img_git"  alt="body">
<img src="/assets/img_back/img_git"  alt="interfe">
<img src="/assets/img_back/img_git"  alt="cuerpo">

<br>

<h6>A continuación te dejamos los videos para que puedas aprender .Net : </h6><br>

<div style="margin-left:20px; padding-bottom: 50px; float: left">
    
</div>

<div style="margin-left:20px; padding-bottom: 50px; float: left">
    
</div>

<div style="margin-left:20px; padding-bottom: 50px; float: left">
    
</div>
