<div>
    <img src="/assets/img_front/img_js/JS JavaScript-logo3.png" alt="logo_js" style="float:left">

    <p>JavaScript es un lenguaje de programación o de secuencias de comandos que te permite implementar funciones complejas en páginas web, cada vez que una página web hace algo más que sentarse allí y mostrar información estática para que la veas, muestra oportunas actualizaciones de contenido, mapas interactivos, animación de Gráficos 2D/3D, desplazamiento de máquinas reproductoras de vídeo, etc., puedes apostar que probablemente JavaScript está involucrado. Es la tercera capa del pastel de las tecnologías web estándar, dos de las cuales (HTML y CSS) hemos cubierto con mucho más detalle en otras partes del Área de aprendizaje.</p>
    <p>No conviene confundir JavaScript con Java, que es un lenguaje de programación muy diferente. La confusión proviene del nombre, registrado por la misma empresa creadora de Java (Sun Microsystems). JavaScript (JS) se creó posteriormente, y la empresa norteamericana lo que hizo simplemente fue cambiar el nombre que le habían puesto sus creadores al comprar el proyecto (LiveScript). El lenguaje de programación Java está orientado a muchas más cosas que la web desde sus inicios.</p>
    <p>JavaScript es la última capa de funcionalidad en los sitios web altamente interactivos. HTML proporciona la estructura básica de la página. CSS es el elemento de moda de tu sitio web: determina el estilo de tu sitio. A continuación, JavaScript añade emoción.</p>
    <p>Cuando se aprende JavaScript, es esencial entender la relación entre HTML, CSS y JavaScript se unen para mostrar un sitio web.</p>

    <img src="/assets/img_front/img_js/JS javascript.imagen.jpg" alt="body">
    <img src="/assets/img_front/img_js/JS Código-JavaScript.jpeg" alt="que_es">
    <img src="/assets/img_front/img_js/JS que-es-javascript.png" alt="body2">
</div>

<h6>A continuación te dejamos los videos para que puedas aprender JavaScript :</h6><br>

<div style="margin-left:20px; padding-bottom: 50px; float: left;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/z95mZVUcJ-E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="margin-left:20px; padding-bottom: 50px; float: left">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xOinGb2MZSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="margin-left:20px; padding-bottom: 50px; float: left">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EbMi1Qj4rVE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

