
<h1>Que es el Backend</h1>

<img src="/assets/img_back/Que-es-backend.webp" alt="logo_backend" style="float:left">

<p>Mientras que el frontend es la capa de programación ejecutada en el navegador del usuario, el backend procesa la información que alimentará el frontend de datos.</p>
<p>Es la capa de acceso a los datos, ya sea de un software o de un dispositivo en general, es la lógica tecnológica que hace que una página web funcione, lo que queda oculto a ojos del visitante.</p>
<p>El backend de una solución, determina qué tan bien se ejecutará la aplicación y qué experiencia, positiva o negativa, obtendrá el usuario de su uso.</p>
<p>Trabajar en este apartado supone algo totalmente diferente al frontend, ya que exige el dominio de otros términos de programación, lenguajes que requieren una lógica, ya que esta área es también la encargada de optimizar recursos, de la seguridad de un sitio y otros factores. </p>
<p>Aquí se utilizan frameworks como PHP, Javascript, Python y Ruby, entre otros.</p>
<p>Un framework de desarrollo es el que trabaja en el lado del servidor, se encarga de que las personas puedan disfrutar de una grata experiencia, su propósito principal es que los procesos de desarrollos estén más acelerados, que se puedan volver a utilizar los fragmentos de códigos ya existentes y que se realicen buenas prácticas mediante el uso de distintos patrones.</p>
<p>Con ellos se pueden escribir códigos o desarrollar aplicaciones con el mínimo esfuerzo.</p>
<p>Las herramientas que se utilizan son editores de código, compiladores, debuggeadores para revisar errores de seguridad y gestores de bases de datos.</p>
<p>El flujo de trabajo de un backend consiste en darle funciones a un sitio; mientras que el frontend hace un sitio estático, el backend después le da funciones y adapta el sistema programado a ese sitio web.</p>

<div style="text-align: center;">
    <button class="btn btn-primary" (click)="volverInicio()">Volver a Inicio</button>
</div>

