<div>
    <img src="/assets/img_back/img_git/G git logo.png" alt="logo" style="float: left">

    <p>Git es el sistema de control de versiones moderno más utilizado del mundo. Git es un proyecto de código abierto maduro y con un mantenimiento activo que desarrolló originalmente Linus Torvalds, el famoso creador del kernel del sistema operativo Linux, en 2005. Un asombroso número de proyectos de software dependen de Git para el control de versiones, incluidos proyectos comerciales y de código abierto. Los desarrolladores que han trabajado con Git cuentan con una buena representación en la base de talentos disponibles para el desarrollo de software, y este sistema funciona a la perfección en una amplia variedad de sistemas operativos e IDE (entornos de desarrollo integrados).</p>
    <p>Git, que presenta una arquitectura distribuida, es un ejemplo de DVCS (sistema de control de versiones distribuido, por sus siglas en inglés). En lugar de tener un único espacio para todo el historial de versiones del software, como sucede de manera habitual en los sistemas de control de versiones antaño populares, como CVS o Subversion (también conocido como SVN), en Git, la copia de trabajo del código de cada desarrollador es también un repositorio que puede albergar el historial completo de todos los cambios.</p>
    <p>Además de contar con una arquitectura distribuida, Git se ha diseñado teniendo en cuenta el rendimiento, la seguridad y la flexibilidad.</p>
    <p>Git se ha diseñado con la principal prioridad de conservar la integridad del código fuente gestionado. El contenido de los archivos y las verdaderas relaciones entre estos y los directorios, las versiones, las etiquetas y las confirmaciones, todos ellos objetos del repositorio de Git, están protegidos con un algoritmo de hash criptográficamente seguro llamado "SHA1". De este modo, se salvaguarda el código y el historial de cambios frente a las modificaciones accidentales y maliciosas, y se garantiza que el historial sea totalmente trazable.</p>

    <img src="/assets/img_back/img_git/G intro.png"  alt="intro">
    <img src="/assets/img_back/img_git/G body.png"  alt="body">
    <img src="/assets/img_back/img_git/G git_destacada.png"  alt="cuerpo">
</div>


<div>
    <img src="/assets/img_back/img_git/GH GitHub-logo.jpg" alt="logo" style="float: left">

    <p style="margin-top: 50px;">Github es un portal creado para alojar el código de las aplicaciones de cualquier desarrollador, y que fue comprada por Microsoft en junio del 2018. La plataforma está creada para que los desarrolladores suban el código de sus aplicaciones y herramientas, y que como usuario no sólo puedas descargarte la aplicación, sino también entrar a su perfil para leer sobre ella o colaborar con su desarrollo.</p>
    <p>Como su nombre indica, la web utiliza el sistema de control de versiones Git diseñado por Linus Torvalds. Un sistema de gestión de versiones es ese con el que los desarrolladores pueden administrar su proyecto, ordenando el código de cada una de las nuevas versiones que sacan de sus aplicaciones para evitar confusiones. Así, al tener copias de cada una de las versiones de su aplicación, no se perderán los estados anteriores cuando se va a actualizar.</p>
    <p>Github es un portal para gestionar las aplicaciones que utilizan el sistema Git. Además de permitirte mirar el código y descargarte las diferentes versiones de una aplicación, la plataforma también hace las veces de red social conectando desarrolladores con usuarios para que estos puedan colaborar mejorando la aplicación.</p>
    <p>Permite que los desarrolladores alojen proyectos creando repositorios de forma gratuita. Pero hay que tener una cosa en mente, y es que para poder subir gratis los proyectos deberán ser de código abierto. Y no quieres que tu aplicación sea de código abierto, la plataforma también tiene una versión de pago para alojar proyectos de forma privada.</p>

    <img src="/assets/img_back/img_git/GH head.jpg"  alt="head">
    <img src="/assets/img_back/img_git/GH intro.jpg"  alt="intro">
    <img src="/assets/img_back/img_git/GH body.jpg"  alt="cuerpo">
</div>

<h6>A continuación te dejamos los videos para que puedas aprender Git y Github: </h6><br>

<div style="margin-left:20px; padding-bottom: 50px; float: left">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VdGzPZ31ts8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="margin-left:20px; padding-bottom: 50px; float: left">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/CK5ZcKZsMRs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="margin-left:20px; padding-bottom: 50px; float: left">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLU8oAlHdN5BlyaPFiNQcV0xDqy0eR35aU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="margin-left:20px; padding-bottom: 50px; float: left">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HiXLkL42tMU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
