<div>
    <img src="/assets/img_back/img_csharp/CS logoc.png" alt="logo csharp" style="float: left">

    <p>C# es un lenguaje de programación desarrollado por Microsoft, orientado a objetos, que ha sido diseñado para compilar diversas aplicaciones que se ejecutan en .NET Framework. Se trata de un lenguaje simple, eficaz y con seguridad de tipos . Las numerosas innovaciones de C# permiten desarrollar aplicaciones rápidamente y mantener la expresividad y elegancia de los lenguajes de estilo de C.</p>
    <p>La sintaxis viene derivada de C y C+ + y utiliza el modelo de objetos de la plataforma .NET, muy parecido al de Java, aunque incluye mejoras propias de otros lenguajes . Como curiosidad, el nombre de este lenguaje fue inspirado por la escala musical. En ella, la letra C equivale a la nota musical do y el símbolo # significa sostenido, lo que indica que es un semitono más alta. Así, C# sugiere que es superior a C y C++.</p>
    <p>El lenguaje de programación C# está orientado a objetos. La programación orientada a objetos es una rama de la informática que usa como su propio nombre indica los objetos y las interacciones de estos para diseñar aplicaciones y programas informáticos. Cabe destacar que un objeto en programación es una entidad que combina el estado (son los datos del objeto), comportamiento o método (las que define qué operaciones puede hacer el objeto) e identidad (es el factor diferenciador de los otros objetos).</p>
    <p>C# es muy popular porque es utilizado de la mano con otras tecnologías o Lenguajes de Programación para integrar aplicaciones dinámicas, por ejemplo con C# puedes crear una interface para Windows como un reproductor de música, este reproductor lo puedes integrar con un servidor en la nube y en este servidor puede estar desplegada una API REST desarrollada con Node JS y Redist DB y poder acceder a las rutas para login, registro, listas de musicas, etc. Todas estas rutas son consumidas por la interface desarrollada con C#.</p>

</div>

<img src="/assets/img_back/img_csharp/CS body.webp" alt="body">
<img src="/assets/img_back/img_csharp/CS interfe.png" alt="interfe">
<img src="/assets/img_back/img_csharp/CS csharp.jpg" alt="cuerpo">

<br>

<h6>A continuación te dejamos los videos para que puedas aprender C# : </h6><br>

<div style="margin-left:20px; padding-bottom: 50px; float: left">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TqiysLEBZo4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="margin-left:20px; padding-bottom: 50px; float: left">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLU8oAlHdN5BmpIQGDSHo5e1r4ZYWQ8m4B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="margin-left:20px; padding-bottom: 50px; float: left">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6W2wYwHQNT4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

