<div>
<img src="/assets/img_front/img_html/HTML logo html.png" alt="logo_html" style="float:left">

<p>HTML (Lenguaje de Marcas de Hipertexto, del inglés HyperText Markup Language) es el componente más básico de la Web. Define el significado y la estructura del contenido web. Además de HTML, generalmente se utilizan otras tecnologías para describir la apariencia/presentación de una página web (CSS) o la funcionalidad/comportamiento (JavaScript).</p>
<p>"Hipertexto" hace referencia a los enlaces que conectan páginas web entre sí, ya sea dentro de un único sitio web o entre sitios web. Los enlaces son un aspecto fundamental de la Web. Al subir contenido a Internet y vincularlo a las páginas creadas por otras personas, te conviertes en un participante activo en la «World Wide Web» (Red Informática Mundial).</p>
<p>HTML utiliza "marcas" para etiquetar texto, imágenes y otro contenido para mostrarlo en un navegador Web. Las  marcas HTML incluyen "elementos" especiales como (head), (title), (body), (header), (footer), (article), (section), (p), (div), (span), (img), (aside), (audio), (canvas), (datalist), (details), (embed), (nav), (output) (en-US), (progress), (video), (ul), (ol), (li) y muchos otros.</p>
<p>Un elemento HTML se distingue de otro texto en un documento mediante "etiquetas", que consisten en el nombre del elemento rodeado por "<" y ">". El nombre de un elemento dentro de una etiqueta no distingue entre mayúsculas y minúsculas. Es decir, se puede escribir en mayúsculas, minúsculas o una mezcla. Por ejemplo, la etiqueta (title) se puede escribir como (Title), (TITLE) o de cualquier otra forma.</p>

</div>
<img src="/assets/img_front/img_html/HTML_logo.png" alt="logo_html">
<img src="/assets/img_front/img_html/HTML concepto-html.jpg" alt="concepto_html">
<img src="/assets/img_front/img_html/HTML dibujo-html.webp" alt="dibujo_html">
<img src="/assets/img_front/img_html/HTML gente-real-html.webp" alt="gente_real_html">
<br>


<h6>A continuación te dejamos los videos para que puedas aprender HTML :</h6><br>
<div style="margin-left:20px; padding-bottom: 50px;">
    <iframe padding="50px" width="560" height="315" src="https://www.youtube.com/embed/kN1XP-Bef7w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

