

h1 {
    font-size: 6rem;
    text-align: center;
    color:#e5e4da;
}

p {
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 20px;
    font-size: xx-large;
}

img {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
}