<div>
    <img src="/assets/img_front/img_css/CSS logo_css.jpg" alt="logo_html" style="float:left">

    <p>CSS son las siglas en inglés para «hojas de estilo en cascada» (Cascading Style Sheets). Básicamente, es un lenguaje que maneja el diseño y presentación de las páginas web, es decir, cómo lucen cuando un usuario las visita. Funciona junto con el lenguaje HTML que se encarga del contenido básico de las páginas.</p>
    <p>Se les denomina hojas de estilo «en cascada» porque puedes tener varias hojas y una de ellas con las propiedades heredadas (o «en cascada») de otras.</p>
    <p>Con CSS puedes crear reglas para decirle a tu sitio web cómo quieres mostrar la información y puedes guardar los comandos para elementos de estilo (como fuentes, colores, tamaños, etc.) separados de los que configuran el contenido.</p>
    <p>A través de esta herramienta puedes crear formatos específicos útiles para comunicar tus ideas y crear experiencias agradables para los usuarios del sitio web.</p>

    <img src="/assets/img_front/img_css/CSS body.jpeg" alt="body">
    <img src="/assets/img_front/img_css/CSS Que-es-CSS.jpg" alt="que_es">
    <img src="/assets/img_front/img_css/CSS body2.webp" alt="body2">
</div>

<h6>A continuación te dejamos los videos para que puedas aprender CSS :</h6><br>
<div style="margin-left:20px; padding-bottom: 50px;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/OWKXEJN67FE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

